body{
	background-color: #f8f8f8;
}

.frmData{
	margin: 0 auto;
	width: 500px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:10px;
	right:10px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}
.div-fixed {
	position: fixed;
    text-align: center;
    word-wrap: break-word;
    width: 250px;
    top: 100px;
    padding: 5px;
    background: white;
    left: calc(50% - 125px);
    border-radius: 25px;
    z-index: 1900;
    border: #ff6600 4px solid;
}